<div class="main-grid">
	
	<h1>Products</h1>
	
	<%= link_to "Products List", products_path %> <br>
	<%= link_to "New Product", new_product_path %>
	<h1>Prices</h1>
	<%= link_to "Price List", prices_path %>
	<h1>Front Page Promotions</h1>
	<%= link_to "Front Page Promotions", promo_items_path %>
	<h1>Orders</h1>
	list of order details (not finsihed)
</div>