<div class="nav-bar">
	<div class="right-nav">
		<%= link_to "HOME", root_path, class: "nav-link" %>
		&nbsp&nbsp|&nbsp&nbsp 
		<%= link_to "PRODUCTS & SERVICES", services_path, class: "nav-link" %>
		&nbsp&nbsp|&nbsp&nbsp 
		<%= link_to "ABOUT US", about_path, class: "nav-link" %>
	</div>
	<div class="left-nav">
		PRINT & DESIGN - SMART PROMO SOLUTIONS SINCE 1984
	</div>
</div>