<div class="nav-bar">
	<div class="right-nav">
		<%= link_to "DASHBOARD", dashboard_path, class: "nav-link" %>
	</div>
	<div class="left-nav">
		<%= link_to "LOGOUT", logout_path, class: "nav-link" %>
	</div>
</div>