<div class="main-grid">
	<h1>About Us</h1>
	<p>Adfactor has been providing budget minded print and design solutions for over 25 years.</p> 

<p>We pioneered the co-op printing system that cuts costs by grouping numerous small orders into single, larger productions; the same economical approach that has gone on to revolutionalize the entire Graphic Industry.</p>

<p>We have produced promotional materials for a wide range of businesses across North America. Printing in Toronto has never been this easy. If you are looking for a reliable printer in Toronto give us a call.</p>
</div>