<div class="full-row top-bar">
	<div class="main-grid">
		<%= image_tag "logo.png" %>
		PRODUCTS & SERVICES | ABOUT US
	</div>
</div>
<div class="full-with menu-bar">
	<div class="main-grid">
		PRINT & DESIGN - SMART PROMO SOLUTIONS SINCE 1984
	</div>
</div>
<div class="full-row slide-images">

</div>
<div class="main-grid welcome-content blue-test">
		
		Hey broski
</div>

<footer>
	<div class="main-grid">
		1-800-788-0251 | 416-531-7907 | FAX 416 531-7610 | adfactor@adfactor.com | 1079 COLLEGE STREET, TORONTO, M6H 1B4
	</div>
</footer>