<div class="full-row header">
	<div class="main-grid">
	<header>
		<%= image_tag "logo.png", class: "logo" %>
			
	</header>		
	</div>
</div>

<div class="full-row black">
	<div class="main-grid">
		<div class="tag-line">
			PRINT & DESIGN - SMART PROMO SOLUTIONS SINCE 1984
		</div>
		<div class="nav-bar">
		PRODUCTS & SERVICES | ABOUT US
		</div>
	</div>
</div>

<div class="full-row slide-images">
</div>

<div class="main-grid welcome-content">
	<div class="feature-item">
		Postcards
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>
	<div class="feature-item">
		Business Cards
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>
	<div class="feature-item">
		Flyers
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>
	<div class="feature-item">
		Banners
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>
	<div class="feature-item">
		Large Signs
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>
	<div class="feature-item">
		Anything
		<br><br><br>
		<div class="feature-blurb">Some text</div>
	</div>


</div>

<footer>
	<div class="main-grid">
		1-800-788-0251 | 416-531-7907 | FAX 416 531-7610 | adfactor@adfactor.com | 1079 COLLEGE STREET, TORONTO, M6H 1B4
	</div>
</footer>