<div class="full-row slide-images">
</div>

<div class="main-grid welcome-content">
	
	<% @promo_items.each do |promo_item| %>
		<div class="feature-item">
			<%= promo_item.product_name %>
			<br><br><br>
			<div class="feature-blurb">
				<%= promo_item.description %>
			</div>
		</div>
	<% end %>
</div>

<div class="about-content">
	<div class="main-grid">
		<p>Adfactor has been providing budget minded print and design solutions for over 25 years.</p> 

		<p>We pioneered the co-op printing system that cuts costs by grouping numerous small orders into single, larger productions; the same economical approach that has gone on to revolutionalize the entire Graphic Industry.</p>

		<p>We have produced promotional materials for a wide range of businesses across North America. Printing in Toronto has never been this easy. If you are looking for a reliable printer in Toronto give us a call.</p>
	</div>
</div>

<footer>
	<div class="main-grid">
		1-800-788-0251 | 416-531-7907 | FAX 416 531-7610 | adfactor@adfactor.com | 1079 COLLEGE STREET, TORONTO, M6H 1B4
	</div>
</footer>