<div class="add-item">
	<%= form_tag(@cart_item) do |f| %>
	  <%= select_tag :product_id, options_from_collection_for_select(@products, :id, :name), :prompt => "Product" %>
		<br>
	<% end %>
</div>
<div class="show-item">
	
<% if @cart_items.empty? %>
empty
<% else %>
asdf

<% end %>


</div>