$('#standard-elements').slideUp();
$('#price-element').html("<h4>Pricing will be discussed</h4>");
$('#information-element, #price-element, #submit-element').slideDown();
$('.information-text-area').attr("placeholder", "Tell us more about this custom item");
$('#submit-element').html('<%=j render partial: "add_item_button" %>');
