// console.log(($('quantity-element').length >= 1));
if ($('.quantity-element').length <= 1) {
	alert('hey buddy');
$('.finish-element').after('<div class="quantity-element"> <%=j render partial: "quantity_field" %></div>' );
return false;

}