body{
	font-family: $regular-font;
}

.header {
	height: 7.5em;
	background: $header-background;
	color: $header-text;
	font-family: $header-font;
}

footer{
	background: $black;
	color: $footer-text;
	font-family: $footer-font;
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
}

h1 {
	font-size: 2em;
	padding: 1em;
}

h2{
	font-size: 1.5em;
	padding: 1em;
}

h4{
	font-size: 1.2em;
	padding: 1em;
}
.title{
	text-align: center;
}


a:link{
	color: $regular-text;
	text-decoration: none;
}
a:visited{
	color: $regular-text;
	text-decoration: none;
}
a:active{
	color: $regular-text;
	text-decoration: none;
}

.half{
	width: 70%;
}