body{
	font-family: $regular-font;
}

footer{
	background: $black;
	color: $footer-text;
	font-family: $footer-font;
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;

}

h1 {

}

h2{
	margin: 0;
	padding: 10px 0;
}
.title{
	text-align: center;
}


a:link{
	color: $regular-text;
	text-decoration: none;
}
a:visited{
	color: $regular-text;
	text-decoration: none;
}
a:active{
	color: $regular-text;
	text-decoration: none;
}

