body{
	font-family: Arial;
}

h1 {

}



a:link{
	color: $regular-text;
	text-decoration: none;
}
a:visited{
	color: $regular-text;
	text-decoration: none;
}
a:active{
	color: $regular-text;
	text-decoration: none;
}