.add-item{
	width: 70%;
	text-align: right;
	margin: 0 auto;
	// background: green;
}

.show-item{
	width: 75%;
	margin: 0 auto;
}

.cart-item{
	margin: 0 auto;
	padding: .5em 1em; 
	font-size:1.2em; 
	width: 80%;
	font-family:Arial, sans-serif; 
	color: $regular-text;
	border-bottom: 1px solid #e6e6e6;
}
.order-summary{
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid #e6e6e6;
}

#standard-elements{
	// background: #00ffff;
	display: none;
	clear: both;
}

#information-element{
	display: none;
	// background: yellow;
}
.information-text-area{
	resize: none;
	height: 6em;	
}

.product-element{
	// background: pink;
	height: 4em;
}
#price-element{
	// background: orange;
	display: none;

}
#submit-element{
	// background: tomato;
	height: 4em;
	display: none;
	line-height: 4em;
}