.add-item{
	float: left;
	width: 40%;
	padding-right: 10%;
	background: orange;
	text-align: right;
}
.show-item{
	float: right;
	width: 50%;
	background: #ff00ff;
}
.cart-item{
	margin: 5px;
	background: yellow;
}

.select-element{
	background: blue;
	margin: 5px;
}