input{
	border:0; 
	padding: .5em; 
	font-size:1em; 
	font-family:Arial, sans-serif; 
	color: $regular-text; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:200px;
	background: $offwhite;
}

select {
 -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  border:0; 
	padding: .5em; 
	font-size:1em; 
	font-family:Arial, sans-serif; 
	color: $regular-text; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:200px;
   }

button {
	border:0; 
	padding: .5em; 
	font-size:1em; 
	font-family:Arial, sans-serif; 
	color: $regular-text; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:200px;
}

.bttn{
	background-color: #ccc;
}

textarea{
	border:0; 
	padding: .5em; 
	font-size:1em; 
	font-family:Arial, sans-serif; 
	color: $regular-text; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
 
}

.order-form{
	padding: 1em 2em;
	margin: 0 auto;
	width: 450px;
	border-radius: 10px;
	border: 1px solid #e6e6e6;
	text-align: center;
}

.product-form{
	padding: 1em 2em;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid #e6e6e6;
	background: #e7e8e3;	
}

.prod-name{
	border-bottom: 1px solid #e6e6e6;
}

.information-text-area{
	width: 80%;
	height: 3em;
	resize: no;
}

.user-form{
	width: 400px;	
	margin: 0 auto;
	text-align: center;
}
.remember-me-check{
	width: 10px;
	background: yellow;
}