.main-grid{
	width: 1000px;
	margin: 0 auto;
}

.full-row{
	width: 100%
}

.menu-bar{
	font-family: $menu-bar-font;
	background: $black;
	color: $top-bar;
	height: 2em;
	line-height: 2em;
}

.top-bar{
	font-family: $top-bar-font;
	background: $black;
	color: $top-bar;
}

