.prod-attributes{
	width: 33%;
	float: left;
}
.prod-name{
	width: 100%;
}


.product-table{
	margin: 2em 0;
	border: 0;
}

.product-name{
	font-size: 1.2em;
}
.characteristic-table{
	margin: 0;
	border: none;
}
.product-table td{
	border: none
}