<div class="main-grid">
	<div class="add-item">
		<br><br><br>
		<%= form_for @category do |f| %>
			<div class="order-form">
				<h2 class="title">Create Category</h2>

					<div class="category-element">
						<%= f.label :category %>
						<%= f.text_field :category %>
					</div>
			</div>
		<% end %>
	</div>
</div>